#sticky-nav{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 80px;
    width:100%;

    padding-top: 10px;
    padding-left: 40%;
  
    border-bottom: dotted;

    /*debug*/
    /* background-color: bisque; */
}

#main-content{
    display: block;
    position: fixed;
    top: 100px;
    left: 0%;

    width:100%;

    padding-left: 30px;

    font-size:20px;

    /*debug*/
    /* background-color: red; */
}

a, a:visited{
    color: black;
}